#board {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

span {
    display: block;
    width: 32px;
    height: 32px;
    
    /* Removes spaces in between rows */
    float: left;
}