td, tr, img  {
    padding: 0;
    margin: 0;
    border: none;
    width: inherit;
    object-fit: fill;
}


img{
    height: 100%;
    object-fit: fill;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

td {
    line-height: 0;
}

td {
    width: 50px;
    height: 50px;
    /* display: inline; */
}

#up{
    display:block;
    /* position: ; */
    left:30vw;
    bottom:0px;
}
#left{
    display:inline;
    position: relative;
    left:1vw;
}
#right{
    display:inline;
    position: relative;
    right:-50vw;
}
#down{
    display:block;
    position: relative;
    left:30vw;
}

@media (max-width:550px) {
    td, tr, img  {
        padding: 0;
        margin: 0;
        border: none;
        width: inherit;
        object-fit: fill;
    }
    img{
        height: 100%;
    }
    table {
        table-layout: fixed;
        /* border-collapse: collapse; */
        display: block;
        margin-left: 0px;
        margin-right: 0px;
        width: 50%;
        height: 50%;
        width: inherit;
    }
    td {
        line-height: 0;
    }
    
    td {
        width: 40px;
        height: 40px;
        /* display: inline; */
    }
    
    #up{
        display:block;
        /* position: ; */
        left:30vw;
        bottom:0px;
    }
    #left{
        display:inline;
        position: relative;
        left:1vw;
    }
    #right{
        display:inline;
        position: relative;
        right:-50vw;
    }
    #down{
        display:block;
        position: relative;
        left:30vw;
    }
}

@media (min-width:1000px) {
    td, tr, img  {
        padding: 0;
        margin: 0;
        border: none;
        width: inherit;
        object-fit: fill;
    }
    
    
    img{
        height: 100%;
        object-fit: fill;
    }
    table {
        table-layout: fixed;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 50%;
    }
    
    td {
        line-height: 0;
    }
    
    td {
        width: 60px;
        height: 60px;
        /* display: inline; */
    }
    
    #up{
        display:block;
        /* position: ; */
        left:30vw;
        bottom:0px;
    }
    #left{
        display:inline;
        position: relative;
        left:1vw;
    }
    #right{
        display:inline;
        position: relative;
        right:-50vw;
    }
    #down{
        display:block;
        position: relative;
        left:30vw;
    }